.section {
    border-radius: 5px;
    animation: 0.5s ease-in-out;
}

.container {
    padding: 20px;
}


@keyframes expand {
    from {
        height: 15vh;
    }
    to {
        height: 100vh;
    }
}